<div class='container-fluid fullHeight'>
	
	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane beigeBg side setSize">
				<div class='bigImage fullHeight absolute noise'>
					<div class='vCenter'>
						<div class='vCenterKid'>
							<h1 class='darkT tCenter uppercase'>Oups...Page not found</h1>
						</div>
					</div>
				</div>
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>

	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane beigeBg side setSize">
				<div class='bigImage fullHeight absolute bgPart1 noise'>
					<div class='vCenter'>
						<div class='vCenterKid'>
							<h1 class='darkT tCenter uppercase'>Oups...Page not found</h1>
						</div>
					</div>
				</div>
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>

	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane beigeBg side setSize">
				<div class='bigImage fullHeight absolute bgPart2 noise'>
					<div class='vCenter'>
						<div class='vCenterKid'>
							<h1 class='darkT tCenter uppercase'>Oups...Page not found</h1>
						</div>
					</div>
				</div>
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>
		
	
</div>