<div class='container-fluid fullHeight home'>
	
	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane hiddenBackface side setSize">
				{{#include 'homePart' id='0'}}{{/include}}
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>

	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane hiddenBackface side setSize">
				{{#include 'homePart' id='1'}}{{/include}}
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>

	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<div class="cube depth setSize">
		
			<div class="front-pane hiddenBackface side setSize">
				{{#include 'homePart' id='2'}}{{/include}}
			</div>
			
			{{#makeAllSides}}{{/makeAllSides}}
		</div>
	</div>
		
	
</div>