<div class='container-fluid fullHeight home'>
	
	<div class="cube-wrap col-xs-4 col-sm-4 col-md-4 col-lg-4 setSize">
		<h1>Welcome to MC {{test}} asd</h1>
		{{#each data}}
			{{this}}
		{{/each}}
	</div>
		
	
</div>