<div class='container-fluid fullHeight {{view}}'>

	<div class='row fullHeight'>
		
		<div id='slideshow' class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			
		</div>
		
		<div id='content' class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			{{locale}}
		</div>
	
	</div>
	
</div>